body{
    margin: 0;
}
.authorisation{
    display: flex;
    justify-content: right;
}
.logInBar{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 14px;
}

.logInPlusUserIcon{
display: flex;
width: 71px;
justify-content: space-between;
}

.shoppingBinPlusBinIcon{
    display: flex;
    width: 102px;
    justify-content: space-between;  
}
.logIn{
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    font-weight: 500;
    border-radius: 20px;
    width: 100px;
    height: 41px;
}

.logIn:hover{
    color: rgb(241, 219, 196);
}

.ShoppingBin{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    font-weight: 500;
    width: 100px;
    height: 41px;
}

.ShoppingBin:hover{
    color: rgb(241, 219, 196);
}

.fa-user-circle{
    color: rgb(241, 219, 196);
}

.fa-shopping-cart{
    color: rgb(241, 219, 196);
}

.logo{
    text-align: center;
    font-family: "Dansing Script";
    font-size: 58px;
    margin-bottom: 30px;
}

.navbar {
    width: 612px;
    margin: auto;
    margin-bottom: 20px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a{
    display: flex;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 500;
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 41px;
    align-items: center;
    justify-content: center;

}

.navbar ul li a:hover{
    background-color: rgb(241, 219, 196);
}

hr{
    height: 1px;
    width: 712px;
    margin-bottom: 7px;
    color: black;
    background-color: black;
    border: none;
}


.inspire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    padding: 90px 0px 100px 0px;
    background-color: #F7F7F7;
}

.styleText{
    width: 601px;
    font-size: 61px;
    margin: auto;
}

.designText{
    width: 507px;
    font-size: 28px;
    margin: auto;
    margin-top: 42px
}

#slider {
    width: 100%;
    height: 500px;
}

#items {
    display: flex;
    justify-content: center;
    overflow-x:hidden;
}

#items img{
    height: 500px;
}

.item img{
    height: 450px;
}

.new{
    width: 100%;
    margin-top: 76px;
}

.goods{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 46px;
    margin: 105px 0px 80px 0px;
}

.descriptionOfPhotoe{
    text-align: center;
    padding: 5px;
}

.Bag{
    font-size: 25px;
    margin-bottom: 27px;
}

.nameOfBag{
    font-size: 31px;
}

.color{
    font-size: 15px;
    margin-top: 10px;
}

.price{
    font-size: 19px;
    margin-top: 10px;
}

.aboutUs{
    height: 340px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(241, 219, 196);
    margin-top: 56px;
    padding-bottom: 80px;
}

.aboutUs h2{
    margin-top: 84px;
    font-size: 40px;
    font-weight: 500;
}

.first{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.second{
    margin: auto;
    width: 552px;
    font-size: 15px;
    margin-top: 26px;
    line-height: 30px;
}

.photoeWithBag{
    width: 100%;
}

footer {
    background-color: #F7F7F7;
    padding: 32px 0;
    text-align: center;

}
  
  footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease;
  }

  footer a:hover {
    color: black
  }

.selected{
    background-color: rgb(241, 219, 196);
}

  /* ++++catalog++++*/


  .row1{
    justify-content: space-between;
    width: 80%;
    margin: auto;
    display: flex;
  }

  .item1 img{
    height: 450px;
}

  .item1{
      margin-top: 20px;
  }


  /* +++++ aboutUs ++++++*/

  

  .aboutUs1{
    height: 340px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F7F7F7;
    margin-top: 30px;
    padding-bottom: 80px;
}

.aboutUs1 h2{
    margin-top: 84px;
    font-size: 40px;
    font-weight: 500;
}



/*  ++++++++++ FAQs +++++++++++*/

.faqs{
    height: 340px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F7F7F7;
    margin-top: 30px;
    padding-bottom: 80px;
}

.faqs h2{
    margin-top: 84px;
    font-size: 40px;
    font-weight: 500;
}

.faqsUl{
    padding-inline-start: 60px;
    padding-inline-end: 50px;
    
}

.faqsLi{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 900px;
}

.faq{
    width: 400px;
}
.faq span{
    margin: auto;
    font-size: 15px;
    margin-top: 26px;
    line-height: 30px;
    text-align: left;
}

